body {
  /* CSS 단위를 vw, vh 등으로 조정하여 모바일 기기에서도 일관된 스크롤 동작을 유지(이후 나머지 css 에서도 vw, vh 필요할 수 있음...!)
  */
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  /* pc x scroll OFF(body overflow-x: hidden) */
  overflow-x: hidden;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  font-family: "Inter", "Gamja Flower", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
}


/* mobile x scroll X (html, body : overflow-x: hidden) */
/* 해당 설정 후 relative - absolute 연결 잘 되었는지 체크 필수 */
/*
@media (max-width: 1000px) {
  html, body {
    overflow-x: hidden;
  }
}
*/